[2019-09-26 20:49] dkundel opened #1 "Contribute a Pixel to the Canvas"
We want to have as many people as possible contribute a pixel to the canvas on [open-pixel-art.com](https://open-pixel-art.com) and teach people how to contribute to open source along the way.

## How do I contribute a pixel?

In order to contribute a pixel, you'll have to contribute an entry to the `_data/pixels.json` file. You can pick your favorite color and your preferred coordinates on the ca

[2019-09-30 22:51] dkundel opened #15 "Danger should not throw an error for an empty PR"
## What's the problem?

Right now Danger is failing with an exception for empty PRs like this one: https://github.com/twilio-labs/open-pixel-art/pull/14

Instead it should just fail letting people know that the PR is empty. This has to be fixed in the `dangerfile.js`.

The error is the following:
[code]

## How to test the fix?

In your local environment run:

[code]

With the fix applied this sho

[2019-10-01 02:27] #15 closed

[2019-10-01 18:59] dkundel opened #37 "Danger is failing for valid PR"
Danger failed on the PR #34 even though it was a valid PR stating that the PR was not all on the same line.

There seems to be some logic issue that requires some investigation and debugging.

## Error Message:
[code]

## Steps to reproduce:
1. Setup the project according to the [Contributing Guide](https://github.com/twilio-labs/open-pixel-art/blob/master/CONTRIBUTING.md)
2. Run `npx danger pr ht

[2019-10-01 19:01] dkundel commented on #37
Same thing happened in #33

[2019-10-01 19:03] dkundel commented on #37
This started showing up more regularly. I'll investigate myself to fix this.

[2019-10-01 19:50] #37 closed

[2019-10-01 20:10] dkundel opened #49 "Add a unit test that verifies no username has brackets"
By default the placeholders have the format `<UNCLAIMED>`. When people claim those pixels they might be inclined to set their username as `<dkundel>` for example. It would be nice to have a unit test in `__tests__/data.js` that checks for this. Otherwise it's only being caught in CI.

This was found by @abdulajet

[2019-10-01 20:21] zirmax commented on #49
Hey, I would like to start working on this one

[2019-10-01 20:23] abdulajet commented on #49
sure, i’m gonna head to bed. ping if you need a hand

[2019-10-01 20:27] ConorGrocock commented on #49
I started working on it, but forgot to comment.

[2019-10-01 20:34] zirmax commented on #49
okay, then it's all yours @ConorGrocock  ;)

[2019-10-01 20:54] dkundel opened #52 "Username checks should be lower cased"
Right now the validation fails in Danger if your username is differently cased  than what you placed in the `pixels.json` file. Instead when we do the check in the `dangerfile.js` we should first lower case both the username on GitHub and the one in the `pixels.json` and then compare the two.

[2019-10-01 20:55] dkundel commented on #49
Thank you everyone :)

[2019-10-01 21:00] Venoox commented on #52
Gonna try this

[2019-10-01 21:01] #49 closed

[2019-10-01 21:05] #52 closed

[2019-10-01 21:51] dkundel opened #62 "Show name of contributor when hovering over pixel"
It would be cool to show the username of the person who contributed the pixel when you hover over it. Right now there's not client-side JavaScript running on the page. I won't have time to work on this myself but it would be cool to see this.

## Requirements

The page currently does not have any client-side JavaScript and even with this should stay as lightweight as possible. Please do not add a

[2019-10-01 22:15] AlexanderDavid commented on #62
I'd like to tackle this. I'm thinking that the only way to do this is to add another tag to the "rect" or "img" elements and then check the current tag under the mouse. If you think there is a better solution please lmk.

[2019-10-01 23:08] simeydk opened #71 "Fix "all pixels are in range" test"
The "every pixel should be in the limits of the image" test in `data.tests.js` currently only validates that x and y are not greater than the width and height of the canvas, but should also validate that x and y are 0 or greater.

[2019-10-01 23:29] #71 closed

[2019-10-02 01:14] #62 closed

[2019-10-02 15:43] Yash-Garg opened #115 "Cannot submit PR number in the game"
I am unable to submit my PR number in the open pixel game due to the case sensitive thing.

It took my username as `yash-garg` but not counting my PR due to case-sensitive issues, please help.

Checkout the screenshot below:
![Capture](https://user-images.githubusercontent.com/33605526/66059337-805ded00-e559-11e9-9454-f457d1847112.PNG)

[2019-10-02 15:44] #115 closed

[2019-10-02 20:33] iiCe89 opened #149 "Improving menu"
@dkundel Is it possible to change **_site/index.html** i was trying to update menu so its within container  so it aligned with rest of page . but doesn't seem to allow me to?

[2019-10-03 06:34] kunwar97 opened #192 "Update .gitignore"
Add IDE specific folders in .gitignore

[2019-10-03 06:41] kunwar97 commented on #192
#194

[2019-10-03 08:18] simeydk opened #206 "Address Duplicates"
Right now there is nothing in place to prevent pixels "overwriting" each other.

If this is deliberate then please close this issue.

Ideas to address this:
- Order the existing list (by x,y)
- Add a test to enforce that the list should be ordered by x and y
- Add a test to enforce that there are no duplicates in the list

[2019-10-03 11:18] M0nica opened #215 "Improve "That pixel was contributed by:" empty state"
When a pixel isn't contributed by someone it says "That pixel was contributed by:" without a username.

Could the text be ommitted or updated to say "contribute to this pixel" or  something that effect and link to https://open-pixel-art.com/#contributing

<img width="844" alt="Screen Shot 2019-10-03 at 7 19 32 AM" src="https://user-images.githubusercontent.com/6998954/66122617-2f2c1880-e5ae-11e9-9

[2019-10-03 11:26] M0nica opened #217 "Colorize: That pixel was contributed by"
When hovering over pixels and seeing `"That pixel was contributed by: ${user}"` the text is always red. Can the text be updated to match the color of the pixel?  There could be visual accessibility concerns with this approach. It could be set up to colorize the username to match the contribution only if the contrast passes a certain threshold using an approach like: https://24ways.org/2010/calcula

[2019-10-03 11:58] ConorGrocock commented on #206
I'll take this one

[2019-10-03 13:17] simeydk commented on #206
LOL. I opened this issue with the intention on working on it myself, but to be fair I did not actually claim it. Interested to see your implementation @ConorGrocock  :)

[2019-10-03 13:20] simeydk commented on #206
Something that also needs to be addressed is that there are existing duplicates. How are you treating those?

[2019-10-03 13:25] ConorGrocock commented on #206
I've forgotten to claim issues far to many times in the past week. So I get it.

I wasn't sure how to deal with it. So I made a seperate commit where I changed the position to one that is similar to the existing one. It's not a great solution but it's the only one that I could think of.

[2019-10-03 14:25] athif23 opened #226 "Improve hovering over pixels"
My screen is not so big, so when I try to hover on the top side of canvas, I can't see who contribute to it, as I need to scroll down to see them, but it would change the name by then. Or, I can see them, but I need to zoom out my browser to do that, and there's no way I would do such thing. So, what if instead of put it below the canvas, we make them as a tooltip, that would always follow mouse p

[2019-10-03 16:07] dkundel commented on #226
This is a cool idea. Could you please coordinate with @M0nica since she raised #217 and #215. I'm not opposed to have both a tool-tip and the current implementation with the improvements outlined by @M0nica :)

[2019-10-03 16:28] #192 closed

[2019-10-03 16:30] dkundel commented on #149
Hey @iiCe89 absolutely! Where was it failing? It's expected that Danger fails. It will just cause a manual code review instead.

[2019-10-03 18:50] athif23 commented on #226
Okay :)

[2019-10-03 19:01] athif23 commented on #215
Can we just completely remove them, and change them as a tooltip (#226) instead? I mean, in my case it's kinda hard to see the contributor name if you hover the top part of the canvas. Like, you need to scroll down again, which the contributor name maybe change, as the cursor move too, or zoom out the page to completely show all of them, but that's not an option in my opinion. Also, maybe we can k

[2019-10-03 19:06] M0nica commented on #215
On mobile I was only able to see who contributed what pixel in that box so I think it would be good to retain it.

[2019-10-03 19:07] athif23 commented on #215
I see, I didn't know that. I think would just do them both.

[2019-10-03 19:09] simeydk opened #239 "Make external links open in a new window"
Have links to external sites open in a new window so it doesn't fully navigate you off the current page.

[2019-10-03 19:10] simeydk commented on #239
I would like to give this a go

[2019-10-03 19:45] dkundel commented on #239
Thank you for that contribution!

[2019-10-03 19:45] #239 closed

[2019-10-03 19:46] dkundel commented on #215
Yeah the idea behind the box was to make it at least a bit mobile friendly :) so I think having both is a good idea!

[2019-10-04 08:36] KevM7 opened #296 "Add a test to check if a pixel isn't already colorized"
Is it possible to add a test to check if a new colorized pixel isn't already colorized by someone else ?

[2019-10-04 08:42] iiCe89 commented on #149
yeh i Editted file and ran NPM test and it would revert file back to original state ?

[2019-10-04 08:53] iiCe89 commented on #149
seems _site is within the .gitignore file as page doesn't seem to exist until i've ran NPM start

[2019-10-04 16:42] dkundel commented on #149
Oh yeah my bad. You need to edit `index.njk` if you want to modify `_site/index.html`. and then run `npm run build` or `npm start` to generate it. You should only check in `index.njk`

[2019-10-04 16:44] dkundel commented on #296
That's what we are discussing in #206 already :) Now that the pixels file is sorted this should be easier to spot and a unit test is being added by @ConorGrocock already

[2019-10-04 16:44] #296 closed

[2019-10-04 16:45] dkundel commented on #206
@simeydk or @ConorGrocock who of you two is working on the unit test for verifying duplicates? Now that we have the sorted file this should be easier to enforce but the test would still be useful for the automatic merging.

[2019-10-04 16:46] dkundel commented on #226
Implemented in #284. Thank you @athif23!

[2019-10-04 16:46] #226 closed

[2019-10-04 16:46] dkundel commented on #217
Implemented in #284. Thank you @athif23 and @M0nica!

[2019-10-04 16:46] #217 closed

[2019-10-04 16:47] dkundel commented on #215
Implemented in #284. Thank you @athif23 and @M0nica!

[2019-10-04 16:47] #215 closed

[2019-10-04 17:02] simeydk commented on #206
I'd like to give it a go. Will submit something soon

On Fri, 04 Oct 2019, 18:45 Dominik Kundel, <notifications@github.com> wrote:

[2019-10-04 17:12] JoaoManoel opened #328 "Hex color REGEX isn't being checked properly on tests"
Hi!

The snippet below is matching true when some false "hex code" is inputed.

I've tried with **#####AAA0f111a** and the tests passed.

[code]

Can I get this one? I already know to fix it.

[2019-10-04 18:06] simeydk opened #331 "npm run test doesn't work if you don't have prettier installed globally"
The tests use prettier, but this doesn't work if you don't have it installed globally. Here's a screenshot:

![image](https://user-images.githubusercontent.com/13088589/66229660-a1057e80-e6e2-11e9-9402-4f77d5568aad.png)

[2019-10-04 18:08] simeydk commented on #331
I would like to give this a go, but might need some guidance :).

[2019-10-04 18:12] simeydk commented on #331
... I just realised this is my mistake, because I didn't run `npm install` again after pulling from master after prettier was added.

This is a bit of a gotcha though. Is doing a `npm install` after a `git pull` something I should generally get in the habit of doing, or is there a way to set things up to get a notification or something if you pulled a change that requires `npm install` to be rerun

[2019-10-04 20:20] GK-Hynes opened #340 "Add instructions on keeping fork up to date with upstream repo"
The contributing docs are really excellent and beginner-friendly.

One issue that contributors might run into during Hacktoberfest is that new commits by other contributors could make their fork go out of sync with the upstream repository before they have finished their own pull request.

Adding a link to [GitHub's instructions on syncing a fork](https://help.github.com/en/articles/syncing-a-fork)

[2019-10-04 22:25] Parikshit-Hooda opened #351 "typo in contributing.md"
'Commiting' should be changed to 'Committing'

[2019-10-04 22:41] Xabadu commented on #351
Solved in #352

[2019-10-04 22:41] #351 closed

[2019-10-05 00:00] apennell commented on #331
I think if you pay attention to the files that are updated/added when you pull, you can take an update to `package.json` as a likely sign that you need to run `npm install`.

[2019-10-05 00:20] apennell opened #362 "Add changed pixels to expected commit message"
### The Issue
During times of high commit volume like Hacktoberfest, or when the stars align against you, someone else may be working on updating the same pixel as you are. With a generic recommended commit message, you need to dig into every open PR to view the file changes in order to check what pixels were changed in the open PRs that are ahead of yours.

### Proposed solution
The [contributing

[2019-10-05 00:20] apennell commented on #362
Assuming this is a change that is desired, I'd like to take this issue on.

[2019-10-05 01:29] dkundel commented on #362
Thank you for raising this and contributing!! :)

[2019-10-05 01:29] #362 closed

[2019-10-05 03:43] athif23 opened #374 "`.screenreader-only` element cover up the canvas"
When you try to hover the top left pixel, some pixel doesn't show up the tooltip. I try to search where the problem is, and found out that `.screenreader-only` element cover up some of the pixels. This can solve easily by adding `z-index: -1;` to `.screenreader-only` styles, but is it fine to do that? It wouldn't changes the accessibility, right?

#### Without `z-index: -1;`
![n7XgH6lqrh](https://

[2019-10-05 07:27] thatrobotdev commented on #340
I'll take this one! #436

[2019-10-05 09:36] TinBryn opened #457 "Pixels are not linted causing tests to fail on linted pull requests"
#455 Should address this, but it was detected as if I'm claiming multiple pixels, but I'm just moving other people's claims to different positions.

[2019-10-05 10:04] sannrs commented on #457
Yeah seems like afew people didn't run npm test when submitting, I got quite confused when i submitted my pull request and saw that I failed the test saying i submitted other people's pixels.

[2019-10-05 10:30] simeydk commented on #331
Thanks! Last question: what's the best/easiest way to determine what changed after running `git pull`?

[2019-10-05 11:03] bh6erk opened #466 "First Download TwilioQuest "a" tag is missing attributes"
The _Download TwilioQuest_ **a** tag  in the About the Project section is missing the **href**, **target** and **rel** attributes.

[2019-10-05 11:06] bh6erk commented on #466
I have added the needed attributes according to the second "a" tag.

[2019-10-05 12:12] AdityaSrivast opened #473 "unnecessary scrollbar present at the bottom of webpage"
**Current Behaviour**
There is a horizontal scrollbar present on the website, which of no use as there is no scroll horizontally.

**Expected Behaviour**
There should be no horizontal scrollbar, unless needed

**Would you like to work on the issue?**
Yes

**Screenshot:**
![image](https://user-images.githubusercontent.com/31389740/66254658-eb483780-e796-11e9-9815-e8c85308a5c0.png)

[2019-10-05 16:05] dkundel commented on #331
it typically prints you a summary of the files that changed. But you can also always just run `npm prune && npm install` and it will remove anything you might have installed that's not in the `package.json` and install whatever is missing.

[2019-10-05 16:05] #331 closed

[2019-10-05 16:56] #473 closed

[2019-10-05 18:32] jesuslerma commented on #457
My PR #500 is having this issue.

[2019-10-05 18:35] nazmanager1 commented on #457
my PR #499 with similar problem

[2019-10-05 23:40] #466 closed

[2019-10-05 23:41] #328 closed

[2019-10-05 23:41] dkundel commented on #206
Thanks for contributing @simeydk :) can we add the test that checks for order as well? I think @ConorGrocock had one ready already.

[2019-10-05 23:42] #457 closed

[2019-10-05 23:43] dkundel commented on #457
I'm sorry for that inconvenience. I added a git hook to the project in #511 that will hopefully reduce this happening. At least for the people following the instructions. Maybe a GitHub Action on push would be useful that will run the linting again and will push any changes if necessary.

[2019-10-05 23:43] dkundel commented on #340
Thanks for the contribution!

[2019-10-05 23:43] #340 closed

[2019-10-06 14:18] ConorGrocock commented on #206
I'll submit a new pull request with my order test

[2019-10-06 18:44] ItaloSa opened #580 "There are a lot of PR rejected"
I did my PR and saw that it did not pass the review. However, looking at other recent PRs, I realized that many are being rejected. What appears is that I modified many lines, but only added my pixel

[2019-10-06 20:32] gemanepa commented on #374
@athif23[ I made the last accessibility PR modifying .screenreader-only between other things](https://github.com/twilio-labs/open-pixel-art/pull/345/files)
You are probably referring to this element being the culprit...
`<div role="heading" aria-level="2" class="screenreader-only">Pixel Art Canvas</div>`
...Right?

Adding `z-index: -1;` shouldn't affect the accessibility, do it! Once your PR gets

[2019-10-06 20:40] clanghout commented on #580
Due to the commit hook, the list gets automatically sorted, and master has some pixels that are not in place.
This means a lot of new pull requests touch more code than 1 line in the pixels data file, making the code review check fail on the `danger` step. A manually checked pr has to fix the ordering to allow these PRs to be accepted.

[2019-10-07 03:42] athif23 commented on #374
Okay 👍

[2019-10-07 03:56] KevBelisle opened #614 "Add test for dangerfile's allPatchesAreForTheSamePixel"
Test is currently a placeholder:
[code]

[2019-10-07 03:56] KevBelisle commented on #614
I'll work on this one!

[2019-10-07 03:57] KevBelisle opened #615 "Add test for dangerfile's evaluatePixelChanges"
Test is currently a placeholder:
[code]

[2019-10-07 03:58] KevBelisle opened #617 "Add test for dangerfile's isValidPixelUpdate"
Test is currently a placeholder:
[code]

[2019-10-07 03:59] KevBelisle commented on #617
I'll work on this one.

[2019-10-07 03:59] KevBelisle commented on #615
I'll work on this one.

[2019-10-07 05:22] KevBelisle commented on #614
The `allPatchesAreForTheSamePixel` method includes some logic to make sure the PR isn't removing or replacing a claimed pixel. It's a good check to have, but it probably shouldn't be in the `allPatchesAreForTheSamePixel` method.

[2019-10-07 10:57] albertsundjaja commented on #580
Actually, in my case it was because I forgot to update my repo with the latest code before submitting a pull request. So you should try fetching from the upstream `git fetch upstream` to pull the latest update

[2019-10-07 19:18] deadpyxel opened #704 "Docker setup"
As someone that uses docker a lot I think it would be nice to add one or more Dockerfiles for a local `docker` setup.

That way, we would minimize the chance of conflicting versions of node and give another alternative for those that want to contribute for something more than one pixel. I am open for ideas about what kind of setup are we looking at, but if this is an approved feature, I'll get to

[2019-10-08 18:43] athif23 commented on #374
Fixed as in #613

[2019-10-08 18:43] #374 closed

[2019-10-08 19:50] dkundel commented on #704
I don't use docker too much and didn't think about it because it's a static website deployed to Netlify. I'd love to have the setup as easy as possible but if you could elaborate a bit more about the benefits and any changes it would create to the experience, I'm open for it.

[2019-10-08 19:50] #617 closed

[2019-10-08 19:50] #615 closed

[2019-10-08 19:50] dkundel commented on #614
I'm open for some refactoring for it.

[2019-10-08 19:55] dkundel commented on #580
Yeah there's a few different problems in here some of which are easier to fix than others. Updating your fork from upstream is the easiest way to fix some of the issues.

Git seems to sometimes randomly struggle with merging the changes in the `pixels.json` occasionally. The general strategy would be to accept current and then add your contribution back.

I'm open for any ideas to improve the bots

[2019-10-08 19:55] dkundel commented on #206
Thank you both of you for your contributions!

[2019-10-08 19:55] #206 closed

[2019-10-08 22:53] linda-lai commented on #580
Along with the upstream fetch problem, the docs said to run `npm test` - when I did, the linter also corrected some extra whitespace in the test suite, which then flagged that I had altered more than 1 file/a file other than `pixels.json`.

I ended up closing the PR and raising a new one. When I tried to merge that one, I noticed that it automatically ran the tests, passed and auto-merged. So I th

[2019-10-09 13:36] deadpyxel commented on #704
Sure thing.

## Description

The idea is that, additionally to the current setup, we would offer an option to allow the contributor to setup a docker development environment.

## Context

- One of the benefits is that the user would not have to install dependencies on their machine, having less problems with conflicting versions of node/packages and broken system configs;
- Another point is that b

[2019-10-09 13:41] deadpyxel opened #877 "Add an issue template"
Just recently I found out about ISSUE and PR templates.

This site can generate one with a very interesting structure:
https://www.talater.com/open-source-templates/#/

Maybe we can tailor something along those lines to help out the contribution process when it comes to feature requests and issues/bug reports.

[2019-10-09 18:36] agarwal-akash opened #907 "fix typo in mergify.yml"
[code]

[2019-10-09 20:07] simeydk opened #912 "Needs Party Mode"
The website has no party mode. Pixels don't ever move. This needs to be addressed.

[2019-10-09 20:07] simeydk commented on #912
I would like to work on this.

[2019-10-09 20:14] simeydk commented on #912
I just submitted a PR for this. You can see the deploy preview here:
https://deploy-preview-913--pixel-project-dev.netlify.com/

[2019-10-09 20:27] devgupta2607 commented on #877
Can i work on this ?

[2019-10-09 20:32] deadpyxel commented on #877
I would wait for one of the official owners of the repo to give the greenlight before starting, but I believe so.

[2019-10-09 20:33] devgupta2607 commented on #877
Ok @deadpyxel

[2019-10-09 20:46] codeMarion opened #915 "CONTRIBUTIONS.md clarification"
I added a section to CONTRIBUTIONS.md which explains how to ensure that your forked branch is up to date and can be merged successfully.

[2019-10-09 21:59] dkundel commented on #912
This is absolutely amazing 😍 you are a real MVP! Thank you for this contribution!

[2019-10-09 21:59] #912 closed

[2019-10-09 22:29] dkundel commented on #704
I think that's fine. If you'd want to work on a Dockerfile and also add the part to the `CONTRIBUTING.md` on how to use it as an alternative (don't replace the basic setup) feel free to go for it

[2019-10-09 23:55] dkundel commented on #877
yeah I think that would be great! Right now we only have a PR template. Open for suggestions

[2019-10-09 23:56] dkundel commented on #614
@KevBelisle I'll close this issue to keep the amount of issues in check but feel free to create a PR when you refactored the function

[2019-10-09 23:56] #614 closed

[2019-10-10 00:00] dkundel commented on #580
Yeah I think we can fix that one by setting up a second GitHub action that runs on `push` events that will:
1. checkout
2. run `npm install`
3. run `npm run prettier`
4. run `node tasks/sortPixels.js`
5. run commit any changes using https://github.com/marketplace/actions/push-new-files-back-to-master

That way hopefully nobody should catch accidental formatting in their PRs.

[2019-10-10 13:35] deadpyxel commented on #877
@devgupta2607 do you still want to take this issue?

[2019-10-10 13:36] deadpyxel commented on #704
Sure, I'll be working on this then. I just ask you to review the changes I make on the README and CONTRIBUTING.

[2019-10-10 13:48] carlan opened #957 "Add Portuguese translation"
Hiya,

As we already have some translations, for instance Deutsch and Spanish, I though to add the translation for Brazilian Portuguese.

I have everything done and all set. Just wanna create an awareness for this one.

[2019-10-10 21:11] devgupta2607 commented on #877
yes @deadpyxel

[2019-10-10 21:12] devgupta2607 commented on #877
If you want to help too @deadpyxel we can create one together

[2019-10-10 21:17] deadpyxel commented on #877
Take a look at the new Github issue template system. Look where to put the files and look for some good templates online. I am kinda of busy this week, so I would not be of much help.

But if you have any questions, feel free to let me know.

[2019-10-10 22:03] devgupta2607 commented on #877
Ok @deadpyxel

[2019-10-11 00:14] ItaloSa commented on #580
@dkundel do you think that a pre-push hook solves this problem? We could use husky and configure these steps.

[2019-10-11 18:06] dkundel commented on #580
Yeah I think so. I'm already creating a sync script that we could use that in a pre-push hook. Once #991 is done, this would be a great addition

[2019-10-11 21:55] #957 closed

[2019-10-12 17:27] leelatanniru opened #1049 "wrong spelling in readme.txt"
There was a spelling mistake in readme.txt. It was written 'pix' instead of 'pick'.

[2019-10-12 17:27] leelatanniru commented on #1049
Im working on fixing this.

[2019-10-12 18:15] jesuslerma commented on #457
Hi!, @dkundel this problem has been fixed but needs an update in CONTRIBUTING.md to remove the `npm run format:json` instruction. I will be working on that.

[2019-10-13 19:29] izontm opened #1097 "Grammatical errors in Portuguese texts"
The contributing guide has some grammar errors, such as redundancy and wrong punctuation.

[2019-10-14 07:46] mehtavishwa30 opened #1108 "Update Readme.md"
Update the Readme.md for correct grammar and punctuations.

[2019-10-14 07:52] #1108 closed

[2019-10-14 07:57] mehtavishwa30 opened #1110 "Incorrect grammar and missing punctuations"
The Readme.md file has missing punctuations and incorrect grammar.

[2019-10-14 17:15] MatejMecka commented on #704
Hey @dkundel and @deadpyxel I submitted a Pull Request #1060 for a Docker image. If you'd like to give Feedback, suggest changes or get it merged feel free to leave a comment :D

[2019-10-14 17:18] MatejMecka opened #1125 "License file returns 404 when clicked on Pull request template"
The issue happens because it points to an outdated file and wrong location. It can be reproduced on all new and past pull requests.

#1062 fixes this :)

@dkundel feel free to leave any  comments  on the PR :)

[2019-10-15 16:38] leelatanniru opened #1165 "No links to facebook, twitter and linkedIn in the footer of the application"
Application has links to github and twilio at the footer.But links to facebook, twitter and linkedIn are missing.

[2019-10-15 17:24] thsubaku9 opened #1168 "Idea: enhancing UX"
There exists the potential to improve the UX of this website by adding the simple ability to visit another person's GitHub profile by simply clicking on that person's pixel. I would like to work on this idea if it is available for execution.

[2019-10-15 19:25] #1110 closed

[2019-10-15 20:36] annthurium opened #1188 "prevent decimal pixel coordinates"
People started adding decimal pixel coordinates, and we don't want that because it messes up the grid.

community member @dpeukert wrote a unit test to prevent this in https://github.com/twilio-labs/open-pixel-art/pull/1141 (thanks!) but we should also move the existing decimal pixel coordinates to the next available pixel.

[2019-10-15 22:21] yakovleva-tanya opened #1197 "Show coordinates on pixel hover if it's unassigned"
I think It will be a good addition to the participants' experience if on pixel hover if it's unassigned, the box would display that pixel's coordinates. That way it would be easier for people to pick the available pixel spots they like. I'd like to work on this feature.

[2019-10-15 22:42] #1197 closed

[2019-10-16 05:31] #1125 closed

[2019-10-16 06:23] Srihari44 opened #1207 "feat: Add pixel search"
It's difficult to locate a contributed pixel since the number of pixels are growing. We need pixel search by specifying username or coordinates. Also highlight the matched pixel.

[2019-10-16 15:39] bhaumikmistry opened #1213 "That pixel was contributed by and ''AT'' is required."
With 40 by 40 pixel grid, when a new pixel is inserted, the newly added pixel is very difficult to locate.

It requires a new tag ```At``` after ```That pixel was contributed by @username ```  so that it should look like ```That pixel was contributed by @username at (x,y)``` where x and y is the pixel value.

Currently user does not know where in the grid is (0,0) to start the count and find the n

[2019-10-16 21:47] dkundel commented on #1188
Resolved by #1223 and #1141

[2019-10-16 21:47] #1188 closed

[2019-10-16 21:55] #1165 closed

[2019-10-16 23:15] danipj opened #1226 "Remove username when hovering unclaimed pixel"
Right now when you hover a taken pixel it shows the contributor username on the contributor box. But when you move to an unclaimed pixel the last username is still on the box.

I think the box should show the contributor only when it has one.

[2019-10-17 01:00] orangegrove1955 opened #1231 "<UNCLAIMED> username references don't exist"
In [CONTRIBUTING.md](https://github.com/twilio-labs/open-pixel-art/blob/master/CONTRIBUTING.md), there is a statement that unclaimed pixels have a username reference of `<UNCLAIMED>`. When I was participating and looking through the `_data/pixels.json` file, I couldn't find a single line that said this, despite there being plenty of unclaimed pixels when viewing the actual pixel art. I would sugge

[2019-10-17 14:16] jennapederson opened #1242 "format:json run script does not exist"
The contributing guide refers to `format:json` which does not exist. It should instead be `format:sort-pixels`.

[2019-10-18 20:32] korbonits opened #1280 "High vulnerability `https-proxy-agent` install should be updated/removed"
While following the CONTRIBUTIONS.md instructions, when you run an `npm install` from the main directory, you get the following warning:

[code]

After running an `npm audit`, you get the following message:

[code]

And, last, after running `npm audit fix`, this is what I get:

[code]

Expected behavior: the main npm install of this package should not include any high vulnerability installations.

[2019-10-18 20:33] korbonits commented on #1280
The link says: `Upgrade to version 3.0.0 or later.` I'll open a PR for that :)

[2019-10-18 21:39] korbonits commented on #1280
Tried to update danger-js directly but the hooks were weird when I tried to make a contribution... 🙈

[2019-10-19 19:45] vinc456 opened #1312 "TwilioQuest AppImage fails to run on Kali Linux"
I was not able to run TwilioQuest AppImage on Kali Linux.

[code]

I'm not very familiar with AppImage but I did change the executable bit and tried to run the file, only to encounter the following error.

Didn't investigate further, hopefully PEBKAC.

[2019-10-20 01:04] Samibanley opened #1317 "Update CONTRIBUTING.md"
The CONTRIBUTING.md says there will be pixels marked as `"<UNCLAIMED>"`, however, there are not. There was another issue and a PR to fix this, but the PR was closed due to it's potential in breaking validation.

The next best solution would be to simply remove those instructions from the documentation and replace them with clearer instructions.

[2019-10-20 01:04] Samibanley commented on #1317
I would like to tackle this myself for Hacktoberfest, if that is okay.

[2019-10-20 05:14] ming-yong opened #1321 "Add Chinese Mandarin translation for Contribution Guides"
Hi! I think it would be a good idea to have a Chinese Mandarin version of contribution guide. I would like to help with this.

[2019-10-20 14:11] deadpyxel commented on #704
Congratulations on your PR, you made a better work than I was able to come up. I was forgetting about the additional files for testing.

[2019-10-20 17:33] Prathamesh404 commented on #1
Are the pixels limited to 39x39?

[2019-10-20 17:43] Prathamesh404 opened #1325 "Specifaction of Matrix with 39 x 39"
- I got following error, which indicates the pixel value should be be between 0 to 39
- I attached the Screenshot of the error i received
![Screenshot 2019-10-20 at 11 09 10 PM](https://user-images.githubusercontent.com/25879588/67163656-1e8de780-f38f-11e9-9b98-d0e9e9005c88.png)

[2019-10-20 22:35] #580 closed

[2019-10-21 05:16] KevBelisle commented on #614
I probably won't have time to address this. If anyone else wants to work on it, feel free to!

[2019-10-21 16:49] Xabadu commented on #907
Fixed in #906

[2019-10-21 16:49] #907 closed

[2019-10-21 16:51] Xabadu commented on #1049
Fixed in #1051

[2019-10-21 16:51] #1049 closed

[2019-10-21 16:51] Xabadu commented on #1097
Fixed in #1096

[2019-10-21 16:51] #1097 closed

[2019-10-21 16:53] Xabadu commented on #1242
Fixed in #1243

[2019-10-21 16:53] #1242 closed

[2019-10-21 17:16] dkundel commented on #704
Thank you for your contribution @MatejMecka :) I'll close this one :)

[2019-10-21 17:16] #704 closed

[2019-10-21 19:59] deadpyxel commented on #1325
Sorry, but which pixel did you try to claim?

[2019-10-21 20:00] deadpyxel commented on #877
@devgupta2607 how are the templates going? Do you need help?

[2019-10-21 22:42] devgupta2607 commented on #877
## Description

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Context

What else can be added?

[2019-10-21 22:53] devgupta2607 commented on #877
Another field can be added
## Issue Type
[ ] Bug Report

[ ] Feature Request

[ ] Other issue

[2019-10-21 23:35] Xabadu commented on #1317
Fixed in #1318

[2019-10-21 23:35] #1317 closed

[2019-10-21 23:37] Xabadu commented on #1226
Fixed in #1227

[2019-10-21 23:37] #1226 closed

[2019-10-22 00:44] r0b9 commented on #1280
I'm running into this same issue. Still research if I can find out why. Sadly being new to most of this it's slow goings.

[2019-10-22 03:19] kwhinnery commented on #1312
Hm, a quick google search of the error seems to indicate that there are permissions issues at play - check this comment:

https://github.com/electron/electron/issues/17972#issuecomment-487369441

A suggestion within is to execute the AppImage with the `--no-sandbox` option - would be worth a shot I think? Otherwise, changing ownership and permissions of the AppImage file may help. Sorry, TBH I am

[2019-10-22 13:17] deadpyxel commented on #877
I know that Github issue templates allow you to specify custom templates for each type of issue (like one for bug reports, one for feature requests, etc).

To do that you use a folder inside the `.github` called `ISSUE_TEMPLATE`, with the templates Markdown files inside. A special header let's Github determined which one it is.

I think this would be better than using a checkbox.

[2019-10-22 14:01] Prathamesh404 commented on #1325
[code]
- The above stated are some of the values in the _data.json .As we see the value of y resets after every 39 values of x.
- Does the matrix is allowed to contain 39 rows and 39 columns?
- Any insight around this can be helpful.

[2019-10-22 14:18] deadpyxel commented on #1325
I'll try to simulate this error on a local environment. But I think it is allowed to have (39, 39) as a pixel.

[2019-10-22 14:42] Prathamesh404 commented on #1325
Yeah but what about adding 40, 0. Is (39,39) is the last co-ordinate for
the pixels? That's what I was asking for.

On Tue, Oct 22, 2019 at 7:48 PM Robson Cruz <notifications@github.com>
wrote:

[2019-10-22 17:02] KillMonger1 opened #1402 "Comma required in the README.md"
A small correction to the text -
as a result should be followed by a comma (',')

[2019-10-22 17:03] KillMonger1 commented on #1402
I'll submit a quick PR for this

[2019-10-23 14:22] nicholassmith opened #1425 "No link to mergify.io in the Contribution guideline documentation"
No link to mergify.io in the Contribution guideline documentation whereas the other two highlighted projects are.

[2019-10-23 15:09] #1312 closed

[2019-10-23 17:26] #1402 closed

[2019-10-23 17:28] Xabadu commented on #1325
Hey @Prathamesh404! Yes, that is correct. 39, 39 is the last available coordinate. The whole grid is 40x40 (starting from 0).

Closing this for now, but please let us know if you have any more questions!

[2019-10-23 17:28] #1325 closed

[2019-10-23 17:28] Xabadu commented on #1321
Done in #1322

[2019-10-23 17:28] #1321 closed

[2019-10-23 17:29] #1231 closed

[2019-10-23 19:32] Xabadu commented on #1425
Fixed in #1426

[2019-10-23 19:32] #1425 closed

[2019-10-23 21:18] #1280 closed

[2019-10-23 23:14] devgupta2607 commented on #877
So I can create a bug report and feature request template provided by Github

[2019-10-24 14:12] deadpyxel commented on #877
The idea is that you create de .MD files, but add then in a certain structure. Look here for a reference: https://github.com/deadpyxel/books-api/tree/master/.github

[2019-10-26 06:58] apoorva-mk opened #1522 "Add badges to README.md"
Most open source repositories have badges to the contributor covenant in the README.md.

[2019-10-26 06:58] apoorva-mk commented on #1522
If this is a valid issue, I would like to work on it.

[2019-10-26 17:52] Prathamesh404 commented on #1325
Was looking forward to add some swag from Twilio. Never MInd, thanks.

[2019-10-27 23:25] SgiobairOg commented on #1207
I'll be submitting a pull request shortly that will partly aid with searching by adding the coordinates to the hover label for each pixel.

I'll continue to work on a search facility as I can.

[2019-10-28 11:55] SoftCreatR opened #1610 "Update german contribution guides"
The german contribution guides containing some spelling mistakes. Furthermore, they are outdated.

I'll create a PR for this.

[2019-10-28 16:16] spianoDev opened #1651 "Trying to add a new pixel, but auto test failing"
Hello!

I tried to add my pixel to the project, but the auto test failed with a message that said I deleted another user's information. However, I was very careful to add a single line and insert my information into an empty spot. I noticed that there are many similar errors inside the current active pull requests. Please let me know how I can help resolve this issue.

Thanks!
spianoDev

[2019-10-28 19:27] SoftCreatR commented on #1651
Had the same problem, because the file changes too often. Easiest workaround is:

[code]

[2019-10-28 19:51] spianoDev commented on #1651
That seems to have worked. Thank you so much!

[2019-10-28 19:51] #1651 closed

[2019-10-29 01:12] dkundel commented on #1
Right now they are. But we'll increase the canvas size soon!

[2019-10-30 12:12] BrianLoveGa commented on #1651
Thanks... I keep trying to merge the new additions . But the merge conflicts never appear in my VS code not sure how to resolve them. Just gonna delete and re clone the whole thing to start over... again...

[2019-10-30 17:54] thsubaku9 commented on #1168
Kindly review my PR #1739 for this feature @dkundel

[2019-10-31 17:19] roel-de-vries opened #1773 "Add Dutch translation for contribution guide"
There are already quite a few translations of the contribution guide, I'd like to add a Dutch one.

[2019-11-01 23:58] dkundel commented on #1773
Yes please go for it :)

[2019-11-01 23:59] dkundel commented on #1522
I'm definitely happy to add a badge for the CoC but please point it at ours since we might change it soon.

[2019-11-04 20:47] #1610 closed

[2019-11-07 19:01] guilhermeblanco opened #1806 "[BUG] PR #1805 - "Danger" code review step has NodeJS crashing"
In case the build output gets lost:

[code]

[2019-11-12 20:19] dkundel commented on #1806
Hi @guilhermeblanco this seems to be an intermittent issue with GitHub Actions atm :( I hope this will be fixed by the time Actions goes GA. Thanks for flagging it!

[2019-11-12 20:19] #915 closed

[2019-11-12 20:19] #149 closed

[2019-11-12 20:20] #877 closed

[2019-12-14 13:03] jerith commented on #1806
It looks like this is still happening. 😿

[2019-12-22 21:46] #1213 closed

[2020-01-02 23:45] #1207 closed

[2020-01-04 02:13] #1 closed

[2020-01-05 19:43] #1168 closed

[2020-01-08 01:09] #1522 closed

[2020-01-08 01:09] #1773 closed

[2020-02-10 19:27] dkundel commented on #1806
Seems like this is an issue inside of Danger that is currently being investigated

https://github.com/danger/danger-js/issues/985

[2020-03-03 19:56] copperbeardy opened #1987 "Confusing Text[BUG]"
## Description
The second to last paragraph in the overview of  Javascript lab, water if needed, mission has some confusing text.

## Expected Behavior
it should read  -- 'the string WATER only if'
## Actual Behavior
it currently reads -- 'the string WATER if any only if'

## Possible Fix
remove the 'if any'

## Steps to Reproduce
1. check the text for the mission

## Context
no, it did not preven

[2020-03-03 19:58] copperbeardy commented on #1987
sry wrong repo

[2020-03-03 19:58] #1987 closed

[2020-03-20 21:49] dkundel commented on #1806
I'm creating a PR for Danger JS that will change the internal implementation of the JSON patch algorithm. If that PR gets merged we need to bump the Danger version and fix the `Dangerfile` to be compatible with the new version.

Otherwise, based on the implementation in [`rfc6902`](https://www.npmjs.com/package/rfc6902) we need to change from an array of pixels to an object. This would significant

[2020-03-23 18:06] #1806 closed

[2020-04-15 18:37] dkundel opened #2046 "[BUG] CI is failing due to wrong diff comparison in Danger"
## Description
Right now the CI is failing on basically every run because it complains that people removed pixels from others. It appears to be because it's using the wrong diff for the check.

## Expected Behavior
PRs like this one should succeed: https://github.com/twilio-labs/open-pixel-art/pull/2045

## Actual Behavior
PR failed because it's claiming it removed additional pixels https://github

[2020-04-26 22:42] marxxt opened #2075 "Cannot add pixel anywhere in between (1,1) to (59,59)[BUG]"
## Description

Cannot that the check
## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Context

[2020-06-12 11:16] kt-aakash opened #2135 "[BUG]"
## Designated sort function for maintaining the _pixel.json_ file doesn't seem to be working.

## Description
 **npm run sort : oprn-pixels** not working..!

## Expected Behavior
As mentioned in the objective of TwilioQuest's help section, this function is supposed to sort the values in the **._data/pixels.json** file

## Actual Behavior
Gives the following error messages :
npm ERR! missing script

[2020-06-14 18:49] tesla809 commented on #2135
Yea found the same issue:
check the package.json file.

Run `npm run format:sort-pixels` instead.

[2020-06-14 22:59] tesla809 commented on #2046
having similar problems with my PR #2158

[2020-06-17 08:34] charlietankers commented on #2135
I added a PR for this: https://github.com/twilio-labs/open-pixel-art/pull/2180

[2020-06-24 18:02] jaredcacurak commented on #2046
Hi @dkundel, this behavior was introduced when `danger-js` changed its JSON patch implementation to `fast-json-patch`.  danger/danger-js/pull/1019

The output from `fast-json-patch`'s `compare` function does not align with the the [RFC-6902 - JavaScript Object Notation (JSON) Patch](https://tools.ietf.org/html/rfc6902#appendix-A.2).

In this example we see `fast-json-patch` returns a superfluous `

[2020-06-24 18:05] dkundel commented on #2046
That's a good catch! I think we should see if we can change it in the Dangerfile. I was actually the one who introduced the change on the danger side since the previous implementation and others that I could find weren't very memory efficient and would cause memory leaks during the diffing.

[2020-06-30 16:33] Reloadaxe opened #2271 "[BUG] Username with uppercase can't do the step : Open a Pull Request"
## Description
When i put my PR number (#2270) in the game, it said : "We found the Pull Request #2270 on the Open Pixel Art remote repository, but it doesn't belong to your GitHub user "reloadaxe"!"

## Expected Behavior
Success

## Actual Behavior
Failed

[2020-07-02 13:06] beardys commented on #1
this problem occurring and many people are finding it frustrating,
the problem seems to be the that - when the script is checking the entries it ignore all of the entries after your change and then reports that they are missing.
This need to sorted as a Twilio champion I stream this live and its is difficult to encourage use of Twilio quest when problems like this go unsolved for a long period of

[2020-07-02 20:46] rmkubik commented on #2271
TwilioQuest expects you to match your username exactly, including case sensitivity. Make sure your GitHub username inside of TwilioQuest is `Realoadaxe` with a capital `R` like it is here. You can update your environment variables inside TwilioQuest by going to `Settings > Environment`, clicking `UNLOCK`, and then finding `TQ_GITHUB_USERNAME` and updating the value.

---

Depending on what version

[2020-07-03 02:09] jharkins81 commented on #2046
Even with it failing peeps that want that sweet sweet hoodie can still use their pull request number in the dialog box =)

[2020-07-27 18:37] dkundel commented on #2135
Thanks for the fix!

[2020-07-27 18:37] #2135 closed

[2020-07-27 18:37] #2271 closed

[2020-08-07 22:33] rmkubik opened #2423 "[BUG] Postinstall script hangs on Windows 10 after configuring merge driver"
## Description

User in Windows 10 on node 12.18.2 had the postinstall hook hang on `Configured custom merge driver` for over an hour.

Had them remove the postinstall hook, and everything worked fine. Had them check their git config and the configurations made by postinstall hook were in place.

I'm wondering if there is some inappropriately handled exit case on Windows?

[Original report in Twil

[2020-09-08 06:36] #2046 closed

[2020-09-12 03:42] spiracular opened #2537 "[BUG] Uppercase vs lowercase username"
Small one, but the TwilioQuest check doesn't detect completion if you use an Uppercase username. It always parses the inputted username as all-lowercase, and then subsequent checks will fail. True for pixel-alteration and pull request challenges.

(Worked fine after I switched to the using same github username in lowercase. Maybe that's for the best, anyway.)

[2020-10-01 14:17] carlan opened #2634 "[TRANSLATION] Add docker section on CONTRIBUTING.md portuguese translation"
There's a missing piece on the Portuguese translation comparing with the original one, the docker section.

I'm creating this issue to fix it.

[2020-10-07 18:15] jefs42 commented on #2423
I'm having this issue right this moment, glad I found this thread. I will follow steps in original Description to get around the issue.

`PS C:\Users\jefs4\Documents\TWILIO\projects\open-pixel-art> npm install

√ Configured custom merge driver`

And it's stuck there.

[2020-10-10 05:12] cpbarton1 opened #2723 "[BUG] "npm test" fails"
## Description
Running npm test on an unmodified pull produces the following output:

        const importedConfig = await import(configUrl.href);
                                     ^^^^^^

SyntaxError: Unexpected token import
    at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.js:152:10)
    at Module._compile (module.js:624:28)
    at Object.Module._extensions..js (module.js:6

[2020-10-14 12:53] Gatodillo commented on #2423
Hello! Updating npm from 6.12 to 6.14.8 makes no change. I have updated the version of the package ora from "^4.0.2" to "^5.1.0" and now I can access to pixel art on localhost. How can I test if this doesn't break something?

[2020-10-14 13:17] Gatodillo commented on #2423
@jesuslerma Do you have an opinion about this change? This happened after I see you in a zoom meeting (CCOSS) and tried to install open pixel art  :) Thank you!

[2020-10-14 14:00] jesuslerma commented on #2423
Hi @Gatodillo please discard the changa You put ok package.json close #2423 and then send another PR only with the changes on _data/pixels.json file

[2020-10-14 14:41] Gatodillo commented on #2423
I have not touched pixels.json :( , just package.json and the package lock file.

[2020-10-14 14:44] jesuslerma commented on #2423
I see. Sorry I missed your point. If you're looking to contribute fixing this issue, then your PR Is ok, You just need to wait for a Review from maintainers. If you want to contribute by adding pixels You just need to update the pixels.json with your pixel.

[2020-10-14 14:53] Gatodillo commented on #2423
OK @jesuslerma, thank you!

[2020-10-15 06:12] ShamedCD opened #2756 "[BUG] There's no format:json script in package.json"
## Description

The contributing guide mention that if you don't know where to put your pixel in the **data/pixels.json** file  you have to run format:json script, I think the right script is **format:sort-pixels**

[2020-10-15 20:30] Gatodillo commented on #2723
With Windows 10, npm v6.14.8 and a recent clone of the repo (master branch) I can't reproduce this issue. @cpbarton1  are you still experimenting this bug?

[2020-10-17 02:03] cpbarton1 commented on #2723
@Gatodillo No more.  Turns out node was out of date.  Environment issue only.  My mistake.

[2020-10-17 02:03] #2723 closed

[2020-10-17 08:11] DoubleCookies opened #2774 "[BUG] Bad license link"
## Description
After creating pull request you can see information about project license, but it leads to 404 page.

## Possible Fix
Absolute link?

## Steps to Reproduce

1. Open existing pull request
2. Find link to license in checklist
3. Click it

[2020-10-27 00:32] gugacavalieri commented on #2634
Thanks @carlan ! I will help out with this one ;)

[2020-11-08 20:25] RvQ commented on #2537
I seem to have been with the same issue
`We found the Pull Request #2963 on the Open Pixel Art remote repository, but it doesn't belong to your GitHub user "rvq"!
`

[2020-11-13 13:47] Silvoax opened #2975 "[TRANSLATION] Add French translation for contribution guide"
Hey Twilio community!

I notice that there is already quite a lot of translation of the contribution file, but not in French.
Is it possible that I make a pull request of the CONTRIBUTING.md in French? I'll do the other files later.

[2020-11-15 13:16] JeremasPosta opened #2978 "[BUG] Zero coordinates doesn't show up on mouseOver."
## Description

Doing mouseOver on a pixel from the X=0 column, the popup text doesn't show the coordinates but shows the empty square brackets. This works fine on the Y=0 row.
![coords](https://user-images.githubusercontent.com/60799999/99184502-12a35f00-2722-11eb-941a-0b4cc867d4e0.png)

## Expected Behavior

The text may become [0,0] or [0,'currentX'].

## Actual Behavior

The texts shows [,] fo

[2020-11-15 13:47] JeremasPosta commented on #2978
It seems that in:
` const x = node.getAttribute('data-pixel-x'); // Check if attribute data-pixel-x is in node`
`const y = node.getAttribute('data-pixel-y'); // Check if attribute data-pixel-y is in node`
in name-hover.js, getAttribute returns an empty string but only when y = 0.

[2020-11-15 18:47] JeremasPosta commented on #2978
There is a typo at the end of line 103 at index.njk, it has an extra ' " ' that should be at the end of line 101.
Trying to fix it but doesn't work by now.

[2020-11-16 23:10] JeremasPosta commented on #2978
It is done, there was a condition that shows the Y coordinate if it is TRUE, but when its value is 0, becomes FALSE.
Added an OR to detect that condition.

[2020-11-18 02:08] JeremasPosta commented on #2978
Reopen a cleaner pull request.

[2020-11-20 08:59] Armslice commented on #2537
Yes! I'm not crazy. Me too. Is this a bug in open-pixel-art, or is it in Twilio-quest?

[2020-11-20 16:26] rvq commented on #2537
Twilio-Quest. If you enter the username in Twilioquest it converts it to lowercase. The initial tests pass. There Twilio test cases dont seem to mind the case sensitivity mismatch. But on that final pull request it is case sensitive. Luckyly we have a workaround with changing the username in github - [LINK](https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-your-github-

[2020-12-09 11:28] madscientist001 commented on #2046
Sharing some simple steps here that I used as a workaround for the bug:
Step 1 : Set upstream as the remote master branch of the original repository owned by twilio-labs.
`git remote add upstream https://github.com/twilio-labs/open-pixel-art.git`
Step 2 : Checkout your local branch and merge upstream changes with your local branch.
`git checkout {your_branch}`
`git pull upstream master`
Step 3 : U

[2020-12-10 08:30] KingdomCross opened #3198 "[BUG] ticket 3196 merge bug"
ticket 3196 merge bug

## Description
I used to have problem that 3196 ticket did not recognize my branch. It could not connect this branch to my GitHub account, I had to manually change the Variables TQ_GITHUB_USERNAME kingdomcross -> KingdomCross and that fix it and recognize as mine. Now I could not commit my new branch because it recognize as no change, {"y": 2, "x": 3, "color": "#FFFF00", "us

[2020-12-11 22:42] mbiesiad opened #3235 "[TRANSLATION] Add Polish"
Hi. First of all, great work!

The Polish ver. is under way. Let's keep in touch.

Best wishes,

[2020-12-13 12:33] mbiesiad commented on #3235
Done, with PR #3242 issue closed.

[2020-12-13 12:33] #3235 closed

[2020-12-20 17:42] #2423 closed

[2020-12-23 03:43] #2756 closed

[2020-12-24 09:56] #2774 closed

[2021-01-02 03:16] #2634 closed

[2021-01-09 02:47] #3198 closed

[2021-01-20 01:56] armslice commented on #2537
This is still a bug. The work around is to change the your github username
to all lowercase but there is still an issue with TQ not allowing uppercase
usernames.

On Tue, Jan 19, 2021, 11:13 AM stale[bot] <notifications@github.com> wrote:

[2021-01-25 01:06] #2978 closed

[2021-02-02 04:11] #2975 closed

[2021-03-20 22:38] Cleverson-Esales opened #3614 "Not recognizing my contribution [BUG]"
Inside the Game TwilioQuest there is a task called "Contributing to Open Source: Another One" is not recognizing my contribution

## Description

In the task informed I have to inform the:

1) the repository to where I sent my contribution
2) the repository from where I worked on
3) the pull request number

I'm providing the information requested:

1) twilio-labs
2) open-pixel-art
3) 3612

But I'm

[2021-03-25 01:38] jacrys commented on #2537
still occurring, and changing username didn't fix it

[2021-03-31 11:04] jsatuaho commented on #2537
Did you go to the first task and change the username there as well? Changing there and on github did the trick for me.

[2021-03-31 13:12] jacrys commented on #2537
I finally got it to work.  btw, you can change it from settings, you don't have to go back to the tasks.  There is a section in settings where all of your env information is stored.

[2021-04-17 05:29] josesalas560 opened #3681 "Unfortunately the automatic code review has failed. Please click the details button for more information. If the details reveal a fail in Danger please note that there is currently a known issue (\#2046) and @dkundel will merge your PR manually in the coming days. Sorry for the inconvenience."
Unfortunately the automatic code review has failed. Please click the details button for more information. If the details reveal a fail in Danger please note that there is currently a known issue (\#2046) and @dkundel will merge your PR manually in the coming days. Sorry for the inconvenience.

_Originally posted by @mergify[bot] in https://github.com/twilio-labs/open-pixel-art/issues/3680#issuecom

[2021-06-02 17:23] #3614 closed

[2021-06-09 21:51] #2537 closed

[2021-06-26 01:51] #3681 closed

[2021-07-24 15:39] wobbol opened #3941 "Merge bot fails to merge correctly formatted pull requests."
this problem occurring and many people are finding it frustrating,
the problem seems to be the that - when the script is checking the entries it ignore all of the entries after your change and then reports that they are missing.
This need to sorted as a Twilio champion I stream this live and its is difficult to encourage use of Twilio quest when problems like this go unsolved for a long period of

[2021-08-05 04:24] Darkskittlz commented on #3941
Also waiting on someone to review my merge and approve my commit to open pixel art. My pull request number is #3960

[2021-08-06 15:25] wobbol commented on #3941
I think the support team is just bogged down with other cool work.
For example, did you know that there is an offical extension interface to TwilioQuest?
https://twilioquest.github.io/extension-docs/

[2021-12-08 05:55] ProjectHSI opened #4399 "[BUG] 'npm test' times out"
## Description
'npm test' times out, and with a 60000ms timeout time still times out, this is an issue with the repo, as it freezes on the mergePixels test.

## Expected Behavior
The test should succeed

## Actual Behavior
The test times out.

## Steps to Reproduce
1. Make a fork and clone that fork into a local directory.
2. run 'npm test'

## Context
Trying to make a pull request with a new pixe

[2022-01-12 11:19] aj-arts commented on #3941
guys the issue hasn't been solved it isn't merging my correctly formatted pixel

[2022-01-13 02:49] ParticleMonk opened #4664 "[TYPO] Says Pix instead of pick"
## Description

In the About Project section. The current pull says, "..you can pix whatever color you prefer..." in the 4th sentence. When I believe it means to say pick.

## Expected Behavior

In the About Project section the 4th sentence should read, "...you can pick whatever color you prefer.."

## Actual Behavior

4th sentence of the About Project section reads, "...you can pix whatever color

[2022-01-14 17:18] nikhilkuyya opened #4744 "[BUG] Docker Build Failing in Step 4, npm POSTInstall"
Docker build failed step 4 in npm Command `npm run configure:merge-driver`

## Description
 Failed to configure custom merge driver for pixels.json
 clone the repo  running the docker build -t open-pixel-art .

## Expected Behavior
I should have image of docker by the build output

## Actual Behavior
Error in Step 4
<img width="1680" alt="Screenshot 2022-01-14 at 10 37 28 PM" src="https://user-ima

[2022-01-15 06:19] Shashwat121 commented on #3941
Hi everyone, this issue still persists!

[2022-01-15 10:10] M-S-10 commented on #4664
@ParticleMonk Can you assign it to me, I'll get it done ASAP!

[2022-01-15 10:45] M-S-10 commented on #4399
Hey, I've created a pixel today at (y=4,x=10), tested it & pushed it to remote repo also. @ProjectHSI Assign me this issue or you can try for yourself with different value and make sure that they're unique.

[2022-01-15 16:19] nikhilkuyya opened #4778 "[BUG] NPM TEST Failed | Merge Pixels File | Docker Build Last Step"
Npm Test failed in docker Test. EAGAIN, Resource Temporary Unavaible.

## Description
Failed Test in reading File.

## Expected Behavior
All the NPM Test to pass.

## Actual Behaviour
![npm-test-failure](https://user-images.githubusercontent.com/22116816/149629191-16c41b1d-8ba5-49f2-b119-e68a8aee35a9.png)
NPM Test Failed, Thrown the Fail resource unavailable

## Possible Fix
- Check reading the so

[2022-01-17 03:13] ProjectHSI commented on #4399
lmao i didn't care about this repo in the first place
i just did it for twilioquest
the only """useful""" thing i did with this was make the pixel art display on a cozmo, and even that doesn't count as anything
useful (that's why i put it in quotes)

[2022-01-17 03:15] ProjectHSI commented on #4399
also this isn't the pull request, this an issue related with the jest testing suite lol

[2022-01-19 21:09] JeremasPosta opened #4863 "[BUG] Zero coordinates doesn't show up on mouseOver"
## Description

Doing mouseOver on a pixel from the X=0 column, the popup text doesn't show the coordinates but shows the empty square brackets. This works fine on the Y=0 row.
![coords](https://user-images.githubusercontent.com/60799999/99184502-12a35f00-2722-11eb-941a-0b4cc867d4e0.png)

## Expected Behavior

The text may become [0,0] or [0,'currentX'].

## Actual Behavior

The texts shows [,] fo

[2022-01-19 21:12] JeremasPosta commented on #4863
PR #4862 was added to fix this.

[2022-01-23 11:05] ranaDherya commented on #4664
I have fixed this issue. Refer to pull request #4908.
@ParticleMonk

[2022-01-31 08:51] Pratham-R commented on #1
feat(pixels): added my new pixel(38,48) #4817

[2022-02-10 21:45] JeremasPosta commented on #4863
@dkundel  Maybe can help reviewing the fix to this? 🙇‍♂️

[2022-04-17 09:45] ProjectHSI commented on #4399
Stale keeper - not closed by admin

[2022-04-27 14:07] #4664 closed

[2022-04-27 14:07] #4778 closed

[2022-04-27 14:07] #4863 closed

[2022-05-05 03:03] wobbol commented on #3941
This is still an issue as far as I'm aware.

[2022-05-22 03:44] brianjpatterson commented on #4399
pixel at 7x,8y = npm test timeout.   It worked before that.   I think it has something to do with the repo being out of sync,  try to merge, or delete, create, merge your open commits/PRs whatever.   (also just doing for video I'm making for my daughter of me playing twilio quest.  :P )

[2022-06-18 20:51] willianwill-lab opened #5726 "open-pixel-art"
Will

[2022-09-29 02:42] ProjectHSI commented on #4399
A

[2022-09-29 02:46] ProjectHSI commented on #4399
While it'd be great if we could merge it, only admins of the org / those that have write access can merge with the remote repo. Creating or deleting won't do any thing.
Is this repo abandoned?

[2022-09-29 02:48] ProjectHSI commented on #4399
@brianjpatterson

[2022-10-18 16:18] #5726 closed

[2022-11-18 15:45] RicardoRobledo opened #6371 "[BUG] Netlify deploy error"
## Description
When I try to deploy changes I receive log errors in Netlify:

UNSUPPORTED BUILD IMAGE
The build image for this site uses Ubuntu 16.04 Xenial Xerus, which is no longer supported.

## Expected Behavior
It should deploy

## Actual Behavior
It does not deploy

## Possible Fix
Change image

## Steps to Reproduce
1. Try a pull request to deploy

## Context
I was trying to deploy my chang

[2022-11-29 04:20] #6371 closed, assigned to nobody